@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background:#e5e5e5 url(images/bg.png) repeat-x;
}
.container
{
	background:url(images/body-bg.png) center 229px no-repeat;
}
.header
{
	background:url(images/top-hd.png) center 0px no-repeat;
}
.top-bar
{
	width:860px;
	margin:auto;
	padding:0px 40px;
	height:86px;
}
.logo
{
	padding-top:28px;
	float:left;
	font:32px Arial, Helvetica, sans-serif;
	color:#fff;
}
.logo a
{
	font:32px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
}
.address
{
	float:right;
	padding-top:38px;
	font:12px Arial, Helvetica, sans-serif;
	color:#f5f5f5;
}
.slogan
{
	width:860px;
	margin:auto;
	background:url(images/slogan-bg.png) no-repeat;
	padding:28px 40px;
	height:88px;
	font:36px Arial, Helvetica, sans-serif;
	color:#e5e5e5;
}
.main-container
{
	width:940px;
	margin:auto;
	padding-top:32px;
}
.left-panel
{
	background:#fff;
	float:left;
	width:180px;
	margin-right:40px;
	padding:28px 40px;
}
.right-panel
{
	width:490px;
	float:right;
	background:#fff;
	padding:28px 35px;
}
.left-panel .navigation ul
{
	padding:0px;
	margin:0px;
	list-style:none;
	text-align:left;
}
.left-panel .navigation ul li
{
	padding:0px;
	margin:0px;
	list-style:none;
	text-align:left;
}
.left-panel .navigation ul li a
{
	font:bold 22px Arial, Helvetica, sans-serif;
	padding-left:20px;
	color:#1e2830;
	text-align:left;
	text-decoration:none;
}
.left-panel .navigation ul li a:hover
{
	font:bold italic 22px Arial, Helvetica, sans-serif;
	color:#3e6a8b;
}
.left-panel .navigation ul
{
	border-bottom:solid 1px #708ea4;
	padding-bottom:20px;
}
.box
{
	padding:0px 20px;
	padding-bottom:26px;
	border-bottom:solid 1px #708ea4;
	position:relative;
}
.left-panel .box h2
{
	font:bold 22px Arial, Helvetica, sans-serif;
	color:#1e2830;
}
.box ul
{
	padding:0px;
	margin:0px;
	list-style:none;
}
.box li
{
	background:url(images/arw.png) 0px 6px no-repeat;
	padding-left:10px;
	font:12px/14px Arial, Helvetica, sans-serif;
	color:#282828;
}
.special
{
	padding-top:20px;
}
.right-panel h2
{
	font:26px Arial, Helvetica, sans-serif;
	color:#2a353a;
	padding:0px;
	margin:0px;
}
.right-panel h4
{
	font:14px/20px Arial, Helvetica, sans-serif;
	color:#727272;
	padding:0px;
	margin:0px;
}
.right-panel
{
	font:13px/18px Arial, Helvetica, sans-serif;
	color:#727272;
}
.clear
{
	clear:both;
}
.footer
{
	width:860px;
	margin:auto;
	padding:20px 40px;
}
.copyright
{
	float:left;
	font:12px Arial, Helvetica, sans-serif;
	color:#343434;
}
.footnav
{
	float:right;
	font:12px Arial, Helvetica, sans-serif;
	color:#1e2830;
}
.footnav a
{
	font:12px Arial, Helvetica, sans-serif;
	color:#1e2830;
	text-decoration:none;
}
.footnav a:hover
{
	color:#3e6a8b;
}



.left-panel .navigation ul li{
	position:relative;
}
.left-panel .navigation ul ul{
	text-align:left;
	margin:0px;
	padding:0px;
	border:0px;	
	list-style:none;
	background:transparent;
}
.left-panel .navigation ul ul li
{
	padding:0px;
	margin:0px;
}
.left-panel .navigation li ul, .left-panel .navigation li a ul{
	visibility:hidden;
	position:absolute;
	top:0px;
	z-index:1000;
	left:170px;
	margin:0px;
	padding:0px;
}
.left-panel .navigation li ul a{
	display:block;
	color:#fff;
	padding:10px;
	margin:0px;
	height:auto;
	border:none;
	line-height:10px;
	width:150px;
	background:#1b1c45;
	border-bottom:solid 2px #060717;
}
.left-panel .navigation li:hover ul, .left-panel li a:hover ul{
	display:block;
	visibility:visible;
	
}
.left-panel .navigation li li a:hover{	
	display:block;
	color:#fff;
	padding:10px;
	margin:0px;
	height:auto;
	border:none;
	line-height:10px;
	width:150px;
	color:#cccdf7;
	background:#3f4173;
	border-bottom:solid 2px #969696;
}